body{
  font-family: "comic sans ms";
  font-style:oblique;
  font-size: 80px;
  background: #ffc0cb;
  color: #f48097;
  text-align: left;
}

@media only screen and (max-width: 600px) {

body{
   background-color: #ffffff;
  }
}
